/* MapComponent Styles */
.map-section {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
    /* padding: 24px 0; */
    width: 100%;
    min-height: 400px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.leaflet-container {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}